.form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input{

    outline: none;
    border: 2px solid darkcyan;
    border-radius: 5px;

    padding: 5px;
}

.input:focus{
    border-color:hsla(180, 29%, 70%, 0.9);
    box-shadow: 0px 0px 8px hsl(102, 25%, 50%);
}

.btn{

    color: ghostwhite;

    background-color: darkcyan;

    border: none;
    border-radius: 5px;

    outline: none;
    
    padding: 5px;

    cursor: pointer;

}

.error{
    display: none;
    color: red;
}

.error.active{
    display: inline;
}

.input.error.active{
    border-color:hsla(0, 100%, 64%, 0.9);
    box-shadow: 0px 0px 8px hsla(16, 100%, 50%, 0.645);
}